<%- layout('layouts/app') %>

<section class="py-20 px-5">
    <div class="bg-gray-300 rounded-md py-10 mx-auto w-full lg:w-[30%] px-10">
        <form class="mx-auto mt-8" action="/course" method="POST">
            <div class="mb-5">
                <label for="title" class="block mb-2 text-xs lg:text-base font-medium text-gray-900">Title</label>
                <input type="text" name="course[title]" id="title" class="text-xs lg:text-base shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" required>
            </div>
            <div class="mb-5">
                <label for="author" class="block mb-2 text-xs lg:text-base font-medium text-gray-900">Author</label>
                <input type="text" name="course[author]" id="author" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xxs lg:text-base rounded-lg block w-full p-2.5" required>
            </div>
            <div class="mb-5">
                <label for="image" class="block mb-2 text-xs lg:text-base font-medium text-gray-900">Image</label>
                <input type="text" name="course[image]" id="image" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xxs lg:text-base rounded-lg block w-full p-2.5" required>
            </div>
            <div class="mb-5">
                <label for="category" class="block mb-2 text-xs lg:text-base font-medium text-gray-900">Category</label>
                <select id="categories" name="course[category]" class="bg-gray-50 border border-gray-400 text-[#353b64] text-xs lg:text-base rounded-md lg:rounded-md focus:outline-none p-2 focus:ring-[#353b64] focus:border-[#353b64] block w-min">
                    <option value="All">All Category</option>
                    <option value="Web Development">web Development</option>
                    <option value="Mobile Development">Mobile Development</option>
                    <option value="Cyber Security">Cyber Security</option>
                </select>
            </div>
            <button type="submit" class="text-[#353b64] bg-yellow-300 hover:scale-95 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm lg:text-base px-5 py-2.5 text-center scale-75 lg:scale-100">Add Course</button>
        </form>
    </div>
</section>